* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: norse;
	src: url(font/Norse-Bold.otf);
}

:root {
	font-size: 62.5%;
}

body {
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 1.6rem;
	line-height: 1.5;
	background-color: #f5f5f5;
}

.container {
	display: flex;
	width: 100%;
	height: 100vh;
	margin: auto;
}

.side {
	background: no-repeat center/cover url("img/bg.jpg");
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}

.logo {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10rem;
}

.logo > img {
	height: 10rem;
}

.logo > .logo-txt {
	color: white;
	font-family: norse;
}

.side > footer,
footer > a {
	color: lightgray;
	font-size: 1.2rem;
	text-align: center;
}

.side > footer {
	margin: 20px 0;
}

.main {
	/* flex: 2; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 800px;
}

.form-container {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.message,
h3 {
	font-weight: 900;
	font-size: 1.8rem;
}

.message > p:last-child {
	margin: 20px 0 40px 0;
}

.message,
.submit-button,
.login {
	margin-left: 40px;
}

.message {
	padding-right: 100px;
}

.form-container {
	padding: 15px 40px 20px 40px;
}

.submit-button {
	background-color: #596d48;
	border: none;
	color: white;
	width: 20rem;
	height: 3.5rem;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 30px;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.login {
	font-size: 1.4rem;
}

.form-fields {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 20px 0;
}

.form-fields > p {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.form-fields label {
	font-size: 1rem;
	color: #424242;
}

.form-fields input {
	width: 80%;
	height: 2.5rem;
	appearance: none;
	border: 1px solid #e5e7eb;
	border-radius: 4px;
	padding: 5px 10px;
}

.form-fields input:focus {
	outline: none;
	border: 1px solid blue;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.error > input {
	border: 1px solid red;
}

label[for="pwd"] {
	position: relative;
}

.error > label[for="pwd"]::before {
	position: absolute;
	content: "*Passwords do not match";
	top: 42px;
	left: 0;
	color: red;
	font-size: 0.8rem;
}

.form-info {
	font-size: 1rem;
	margin-top: 10px;
	color: #424242;
}

.form-fields .form-info {
	flex-direction: row;
	width: 100%;
	justify-content: flex-end;
}

.form-info > span {
	margin-right: 2px;
}

.form-fields .pwd-hint {
	margin-top: 20px;
	width: 100%;
	font-size: 1.2rem;
}

.pwd-hint > ul {
	margin-left: 20px;
}
